<app-header></app-header>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="" style="width: 18rem;">
            <img src="/assets/images/profile-pic-red.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="text-center">Suman Shaganti</h3>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>